<%= link_to gravatar_for(@entry.user, size: 100), @entry.user %>
<span>
  <h3 class="user"><%= link_to @entry.user.name, @entry.user %></h3>
</span>
<span>
  <h4 class="title">
    <%= @entry.title %>
  </h4>
</span>
<span class="content">
  <%= @entry.content %>
</span>
<br>
<span class="timestamp">
  Posted <%= time_ago_in_words(@entry.created_at) %> ago.
</span>
<br>
<h3>Comments</h3>
  <ol class="entries">
        <%= render @comments %>
  </ol>
  <% if logged_in? %>
  <%= form_for(@comment ||= current_user.comments.build) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose a comment..." %>
      <%= f.hidden_field :entry_id, value: @entry.id %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
<% end %>

